body {
    background: linear-gradient(90deg, #7F26EA 0%, #FF89D8 100%);
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    background: linear-gradient(90deg, #7F26EA 0%, #FF89D8 100%);
    font-family: 'Poppins', sans-serif;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: transparent;
  padding: 20px;
 background-color: transparent;
 color: #fff;
 font-weight: 700;
}

.navbar > li {
    color: #f2f2f2;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}


.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #0099ff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

li {
    color: transparent;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: transparent;
  padding: 25px;
}

body > footer > ul > li:nth-child(1) > a {
 color: #fff;
 text-decoration: none;
}

body > footer > ul > li:nth-child(2) > a {
    color: #fff;
 text-decoration: none;
}

.container-fluid{
color: #fff;
}

.navbar-brand {
color: #fff;
font-weight: 700;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Carter One', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}

.h5, .h6, h2, h3, h4, h5, h6 {
    font-family: 'Carter One', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #0099ff;
}

/*Projects*/


.px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    align-items: center;
   
}

.mb-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
    align-items: center;
}

*, *::before, *::after {
    box-sizing: border-box;
    align-items: center;
}

.bg-light {
    padding: 3rem !important;
}

*::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    box-sizing: border-box;
}

body > div.container.px-5.mb-5 > div.row.gx-5.justify-content-center > div > div.card.overflow-hidden.shadow.rounded-4.border-0.mb-5{
 background-color: #fff;
 padding: 4rem;
 border-radius: 40px;
 display: flex;
}

body > div.container.px-5.mb-5 > div.row.gx-5.justify-content-center > div > div:nth-child(2) {
    background-color: #fff;
    padding: 4rem;
    border-radius: 40px;
    display: flex;
}

.card-body {
    display: flex;
    flex: 1 1 auto;
    
}

.card {
    padding: 1rem;
    border-width: 1px;
    border-color: transparent;
    border-radius: 0.375rem;
    box-shadow: 4px;
    background-color: #fff;
   margin: 0.75rem;
    position: relative;
    display: flex ;
    flex-direction: column ;
    min-width: 0;
    word-wrap: break-word ;
    background-clip: border-box;
    
}

.d-flex {
    display: flex;
    flex: auto;
    gap: 3rem;
    
}

.img-fluid {
    width: 50%;
    height: auto;
}

.p-5 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Button {
    align-self: stretch; 
    padding: 1rem; 
    padding-inline: 2.5rem;
    background: #0099FF; 
    box-shadow: 0rem 0.25rem rgba(0, 0, 0, 0.25); 
    border-radius: 0.5rem; 
    justify-content: center; 
    align-items: center; 
    gap: 0.625rem; 
    display: inline-flex;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    align-items: center;
    justify-items: center;
    border-radius: 1rem;
    box-shadow: 0rem 0.4rem rgba(0, 0, 0, 0.195); 
    gap: 0.625rem; 
    display: inline-flex;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: white; 
    font-size: 1.5rem; 
    font-weight: 700; 
    word-wrap: break-word;
  }


  .Button:hover{
    background-color: #fff;
    color: #0099FF;
    outline-color: #0099FF;
    outline-style: auto;
  }

  body > div.container.px-5.mb-5 > div.row.gx-5.justify-content-center > div {
    padding: 6rem 6rem;
  }
