body {
    background: linear-gradient(90deg, #7F26EA 0%, #FF89D8 100%);
    font-family: sans-serif;
}
.jumbotron {
    background: linear-gradient(90deg, #7F26EA 0%, #FF89D8 100%);
    font-family: sans-serif;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: transparent;
  padding: 20px;
 background-color: transparent;
 color: #fff;
}

li {
    color: #fff;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.container-fluid{
color: #fff;
}
.navbar-brand {
color: ;
font-weight: 700;
}